* {
  /* Não altere nada aqui dentro */
  font-family: "Poppins", sans-serif;

  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
  box-sizing: border-box;
}

body {
  /* Não altere nada aqui dentro */
  height: 100vh;
  width: 100%;
}

:root {
  /* Não altere nada aqui dentro */
  --red: #a00000;
  --blue: #0021d1;
  --white: #ffffff;
  --black: #030406;
}

/* Escreva a partir daqui */
